body {
  height: 100%;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.4em;
  margin: 0;
  color: #1b1a1a;
  line-height: 1.8;
}
body h4 {
  font-size: 20px;
}
body .mainContainer {
  display: flex;
  margin: 0 auto;
  background-color: #faf9f6;
  color: #1b1a1a;
}
body .sideNav {
  top: 0;
  left: 0;
  background-color: #1b1a1a;
  overflow-x: hidden;
  transition: 0.5s;
  position: fixed;
  height: 100%;
  display: flex;
  align-items: center;
}
body .sideNav.open {
  width: 20%;
}
body .sideNav.close {
  width: 80px;
}
body .sideNav .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
body .sideNav .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #eb5a49;
}
body .sideNav .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
body .sideNav .hamburger-lines .line1.closed {
  transform: rotate(45deg);
}
body .sideNav .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
body .sideNav .hamburger-lines .line2.closed {
  transform: scaleY(0);
}
body .sideNav .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
body .sideNav .hamburger-lines .line3.closed {
  transform: rotate(-45deg);
}
body .sideNav nav.menuItems {
  height: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s;
  width: 100%;
  align-items: center;
  white-space: nowrap;
}
body .sideNav nav.menuItems.closeMenuItems {
  opacity: 0;
}
body .sideNav nav.menuItems a {
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  color: #faf9f6;
  transition: 0.3s;
  list-style-type: none;
  cursor: pointer;
}
body .sideNav nav.menuItems a:hover {
  color: #eb5a49;
}
body .sectionsContainer {
  transition: 0.5s;
  margin-left: 22%;
  padding: 0 50px;
  cursor: default;
}
body .sectionsContainer.expanded {
  margin-left: 100px;
}
body .sectionsContainer .section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0;
}
body .sectionsContainer .section.about .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .sectionsContainer .section.about .intro h2 {
  font-size: 20px;
}
body .sectionsContainer .section.about .intro img {
  max-width: 180px;
}
body .sectionsContainer .section.about span.hi,
body .sectionsContainer .section.about .info {
  font-style: italic;
  color: #eb5a49;
}
body .sectionsContainer .section.work .projectContainer .project {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
body .sectionsContainer .section.work .projectContainer .project .projectInfo {
  max-width: 30%;
}
body .sectionsContainer .section.work .projectContainer .project .projectInfo h5 {
  margin: 0;
}
body .sectionsContainer .section.work .projectContainer .project .projectInfo p,
body .sectionsContainer .section.work .projectContainer .project .projectInfo ul li {
  font-size: 14px;
  color: #656565;
}
body .sectionsContainer .section.work .projectContainer .project .projectImg {
  display: flex;
  justify-content: center;
  width: 70%;
  align-self: center;
}
body .sectionsContainer .section.work .projectContainer .project .projectImg img {
  width: 100%;
  cursor: pointer;
}
body .sectionsContainer .section.work .projectContainer .project .projectImg img.iphone {
  max-width: 400px;
}
body .sectionsContainer .section.skills {
  flex-direction: column;
}
body .sectionsContainer .section.skills .skillsItemsContainer {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px;
  grid-gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
body .sectionsContainer .section.skills .skillsItemsContainer img {
  max-width: 200px;
  height: 100px;
}
body .sectionsContainer .section.contact {
  flex-direction: column;
}
body .sectionsContainer .section.contact button {
  background-color: #1b1a1a;
  color: #faf9f6;
  padding: 14px;
  border: none;
  font-size: 0.5em;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 6px;
}
body .sectionsContainer .accentColor {
  color: #eb5a49;
}
